*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html{
    color: white;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(59, 109, 92, 0.7),rgba(59, 109, 92, 0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.typing{
    margin-left: 10px;
    color: white;
}

.typing::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
